<h1>Score</h1>
<br>

<h2>Results: <%= @message %></h2>
<h2>Score: <%= @score %></h2>
<h2>Total score: <%= session[:score] %></h2>

<h3 class="link"><%= link_to "Go back and play again", new_path %></h3>
